@import '../common/styles/var.less';

.ui-tabs {
  width: 100%;
  height: auto;
  -webkit-tap-highlight-color: transparent;

  &__header {
    width: 100%;
  }

  &__scroll {
    height: 80rpx;
  }

  &__scroll--border {
    border-top: 1rpx solid #eee;
    border-bottom: 1rpx solid #eee;
  }

  &__scroll-belt {
    background-color: white;
    display: flex;
    position: relative;
    box-sizing: content-box;
    user-select: none;
    height: 100%;
  }

  &__scroll-thumb {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    &--active {
      color: red;
    }

    &--disabled {
      opacity: 0.4;
    }
  }

  &__underline {
    position: absolute;
    bottom: 0;
    transform: translateX(-50%);
    transition-property: left;
    transition-timing-function: ease;
    z-index: 1;
    background-color: red;
  }

  &__track {
    width: 100%;
    height: auto;
  }
}