@import '../common/styles/var.less';

.ui-swipeout {
  overflow: hidden;

  &__view {
    position: relative;
    width: 100%;
    transition-timing-function: ease-out;
    -webkit-transition-timing-function: ease-out;
  }

  &__right {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    transform: translateX(100%);
  }

  &__content {
    background-color: @white;
  }
}