@import '../common/styles/var.less';

.swipeout {
  position: relative;
  overflow: hidden;

  &__content {
    background-color: @white;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
  }

  &__left {
    position: absolute;
    height: 100%;
    left: 0;
  }

  &__right {
    position: absolute;
    height: 100%;
    right: 0;
  }
}